host: localhost:8080
info:
  contact: {}
  description: A high-performance video streaming backend built with Go, Gin, PostgreSQL,
    and Redis.
  title: OpenVDO API
  version: "1.0"
paths:
  /health:
    get:
      description: Check if the server is running
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Health Check
      tags:
      - health
swagger: "2.0"
